.container {
  inline-size: var(--content-width);
  margin: auto;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block-start: 100px;
  padding-block-end: 100px;
  position: relative;
  font-family: var(--font-base);
  font-variation-settings: "wght" var(--font-base-weight);
  font-size: var(--font-size);
}

.page__cover {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: var(--cover-background-image);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  block-size: 100vh;
  max-block-size: 960px;
}

/* Шапка */

.header {
  background: var(--bg-block);
  border: 2px solid var(--border-color);
  font-family: var(--font-accent);
  line-height: 1;
  padding-inline: 16px;
  padding-block: 130px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-end: 95px;
}

.header__logo {
  text-decoration: none;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__logo:focus {
  outline: none;
}

.header__title {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

/* Карточки */

.card-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-block-end: 50px;
}

.card {
  background: var(--bg-block);
  border: 2px solid var(--border-color);
}

.card-title {
  font-size: var(--font-size);
  font-variation-settings: "wght" var(--font-base-heading-weight);
  padding-block: 4px;
  padding-inline: 10px;
}

.card-cover {
  position: relative;
  overflow: hidden;
  border-block: 2px solid var(--border-color);
}

.card-cover__image {
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: right;
  display: block;
}

.card-cover::before {
  content: "</html>";
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  z-index: 1;
  font-size: 14px;
  font-family: var(--font-accent);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  line-height: 1;
  text-transform: uppercase;
}

.card__content {
  padding-block: 25px;
  padding-inline: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  line-height: 1.15;
}

.card__footer {
  padding-block-end: 25px;
  padding-inline: 25px;
  display: flex;
  justify-content: end;
  gap: 5px;
}

/* Кнопки */

.button {
  position: relative;
  overflow: hidden;
  background: none;
  border: 2px solid var(--border-color);
  font-size: 14px;
  font-family: var(--font-accent);
  line-height: 0.9;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: box-shadow 0.3s ease;
  background: var(--bg-block);
  justify-content: center;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--border-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--border-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--bg-block);
  mix-blend-mode: difference;
}

.save-button {
  padding-inline: 20px;
  padding-block: 15.5px;
  margin: auto;
}

.save-button__svg {
  fill: var(--bg-block);
  mix-blend-mode: difference;
  inline-size: 21px;
}

.ok-button {
  text-transform: uppercase;
  padding-inline: 20px;
  padding-block: 12.5px;
  justify-content: center;
  inline-size: 100%;
}

.card__like-button {
  min-inline-size: 130px;
  padding: 12.5px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  transition: box-shadow 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--border-color);
}

/* Модальное окно */

.dialog {
  max-inline-size: 353px;
  padding: 30px;
  background: var(--bg-block);
  border: 2px solid var(--border-color);
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block-end: 30px;
}

.dialog__content .save-button__svg {
  inline-size: 39px;
  flex-shrink: 0;
}

.dialog-title {
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

/* Фильтры */

.filter-saturate {
  filter: saturate(20%);
}
.filter-sepia {
  filter: sepia(90%);
}
.filter-hue {
  filter: hue-rotate(45deg);
}
.filter-invert {
  filter: invert(0.7);
}
.filter-contrast {
  filter: contrast(1000%);
}
.filter-blur {
  filter: blur(10px);
}
.filter-multiple {
  filter: blur(3px) invert(0.23) hue-rotate(90deg);
}

/* Иконка */

.like-icon {
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card-cover::before {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

@media (width <= 376px) {
  .page {
    inline-size: fit-content;
  }

  .header {
    padding-block: 120px;
    gap: 20px;
    margin-block-end: 100px;
  }

  .card-list {
    gap: 49.5px;
  }

  .save-button {
    flex-direction: column;
  }

  .save-button__svg {
    inline-size: 28px;
  }
}
